<section class="promo_box">
    <div class="container">
        <div class="row">
            <div class="post-recent col-sm-6 col-md-6 col-lg-6" *ngFor="let giftModel of giftModelList">
                <div class="post-images">
                    <a href="/article/{{ giftModel.articleId }}">
                        <img class="img-rounded img-responsive" src="/img/subscribe/{{ giftModel.giftImage }}" alt=""/>
                    </a>
                </div>

                <div class="post-detail">
                    <h5>
                        <a href="/article/{{ giftModel.articleId }}">
                            <b>{{ giftModel.giftName }}</b>
                        </a>
                        <p>
                            {{ giftModel.giftLabel }}
                        </p>
                    </h5>
                    <gift-form [giftModel]="giftModel"></gift-form>
                </div>
            </div>
        </div>
    </div>
</section>