<form class="gift-form" [formGroup]="giftForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control form-control-sm"
                    formControlName="email"
                    placeholder="Ваш E-mail"
                />
                <span class="error-gift-form" *ngIf="formErrors.email">
                    {{ formErrors.email }}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control form-control-sm"
                    formControlName="userName"
                    placeholder="Имя"
                />
                <span class="error-gift-form" *ngIf="formErrors.userName">
                    {{ formErrors.userName }}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-right">
            <button
                data-loading-text="Loading..."
                class="btn btn-default btn-sm">
                <i class="fa fa-envelope-o"></i>
                Получить
            </button>
        </div>
    </div>
</form>