<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="widget_title">
                    <h4><span>Контакты</span></h4>
                </div>
                <div class="widget_content">
                    <p>Donec earum rerum hic tenetur ans sapiente delectus, ut aut reiciendise voluptat maiores alias consequaturs aut perferendis doloribus asperiores.</p>
                    <ul class="contact-details-alt">
                        <li>
                            <i class="fa fa-user"></i>
                            <p><strong>Phone</strong>:(097) 916-24-57</p>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <p><strong>Email</strong>: <a href="mail:spring@springconsult.com.ua">spring@springconsult.com.ua</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="widget_title">
                    <h4><span>Блог</span></h4>
                </div>
                <div class="widget_content">
                    <ul class="links">
                        <li><a href="#">Aenean commodo ligula eget dolor<span>November 07, 2015</span></a></li>
                        <li><a href="#">Temporibus autem quibusdam <span>November 05, 2015</span></a></li>
                        <li><a href="#">Debitis aut rerum saepe <span>November 03, 2015</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="widget_title">
                    <h4><span>Продукты</span></h4>

                </div>
                <div class="widget_content">
                    <div class="widget_content">
                        <ul class="links">
                            <li><a href="#">Aenean commodo ligula eget dolor<span>November 07, 2015</span></a></li>
                            <li><a href="#">Temporibus autem quibusdam <span>November 05, 2015</span></a></li>
                            <li><a href="#">Debitis aut rerum saepe <span>November 03, 2015</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget_content">
                    <div class="tweet_go"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright">&copy; Copyright 2017 Spring Consulting</p>
            </div>

            <div class="col-sm-6 ">
                <div class="footer_social">
                    <ul class="footbot_social">
                        <li><a class="fb" href="http://www.facebook.com/pages/Spring-Consulting/224221514260502" data-placement="top" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="skype" href="skype:helen.litkovskaya?call" data-placement="top" data-toggle="tooltip" title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>