<div id="prompt-popup" class="modal bs-example-modal-sm" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form role="form">
                    <p class="text-center">Введите Ваше имя, E-mail и номер телефона для оформления заказа.</p>
                    <p class="text-center">Мы свяжемся с вами для уточнения способа оплаты и доставки.</p>
                    <input type="text" name="name" placeholder="Имя" class="form-control form-control-sm"/>
                    <input type="email" name="email" placeholder="Email" class="form-control form-control-sm"/>
                    <input type="number" name="phone" placeholder="Номер Телефона" class="form-control form-control-sm"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-xs" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-success btn-xs confirm">Заказать</button>
            </div>
        </div>
    </div>
</div>