<noindex>
    <ul class="shares">
        <li class="shareslabel">
            {% set titleTag = titleTag ? titleTag : 'H3' %}
            <{{ titleTag }}>Поделитесь с друзьями</{{ titleTag }}>
        </li>
        <li class="share-box">
            <div class="fb-like" data-href="{{ current_url()|raw }}" data-send="true" data-layout="button_count" data-width="215" data-show-faces="false"></div>
        </li>
        <li class="share-box">
            <div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="Litkovska" data-lang="ru">Твитнуть</a>
            </div>
        </li>
        {#<li class="share-box">#}
            {#<div>#}
                {#<a class="odkl-klass-stat" href="{{ base_url() }}" onclick="ODKL.Share(this);return false;" >#}
                    {#<span class="custom_count">0</span>#}
                {#</a>#}
            {#</div>#}
        {#</li>#}
        {#<li class="share-box">#}
            {#<div id="vk_like"></div>#}
            {#<script type="text/javascript">#}
            {#VK.Widgets.Like("vk_like", {type: "mini"});#}
            {#</script>#}
        {#</li>#}
    </ul>
</noindex>