{% extends "layout.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="wrapper">
        <section class="page_head">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="page_title">
                            <h2>Услуги</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content service">
            <div class="container">
                <div class="row sub_content">
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox_2 green">
                            <div class="service-icon">
                                <i class="fa fa-gears"></i>
                            </div>
                            <div class="service-content">
                                <h3>Поиск работы</h3>
                                <p> sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura.</p>
                                <div class="read">
                                    <a href="">Далее</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dividerHeading">
                                <h4><span>Отзывы</span></h4>
                            </div>
                            <div class="testimonial carousel slide" id="testimonial-carousel-search" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active testimonial-item">
                                    <div class="icon"><i class="fa fa-quote-right"></i></div>
                                    <blockquote>
                                        <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum.</p>
                                    </blockquote>
                                    <div class="icon-tr"></div>
                                    <div class="testimonial-review">
                                        <img alt="testimoni" src="/img/testimonials/1.png">
                                        <h1>Tom Jobs, Поиск работы<small>Company Inc.</small></h1>
                                    </div>
                                </div>
                                <div class="item testimonial-item">
                                    <div class="icon"><i class="fa fa-quote-right"></i></div>
                                    <blockquote>
                                        <p>Nunc aliquet tincidunt metus, sit amet mattis lectus sodales ac. Suspendisse rhoncus dictum eros, ut egestas eros luctus eget. Nam nibh sem, mattis et feugiat ut, porttitor nec risus.</p>
                                    </blockquote>
                                    <div class="icon-tr"></div>
                                    <div class="testimonial-review">
                                        <img alt="testimoni" src="/img/testimonials/2.png">
                                        <h1>Tom Jobs Поиск работы2222<small>Leopard</small></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-buttons">
                                <a data-slide="prev" href="#testimonial-carousel-search">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                                <a data-slide="next" href="#testimonial-carousel-search">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox_2 orange">
                            <div class="service-icon">
                                <i class="fa fa-key"></i>
                            </div>
                            <div class="service-content">
                                <h3>Коучинг</h3>
                                <p> sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura.</p>
                                <div class="read">
                                    <a href="">Далее</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dividerHeading">
                                <h4><span>Отзывы</span></h4>
                            </div>
                            <div class="testimonial carousel slide" id="testimonial-carousel-couching" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active testimonial-item">
                                    <div class="icon"><i class="fa fa-quote-right"></i></div>
                                    <blockquote>
                                        <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum.</p>
                                    </blockquote>
                                    <div class="icon-tr"></div>
                                    <div class="testimonial-review">
                                        <img alt="testimoni" src="/img/testimonials/1.png">
                                        <h1>Tom Jobs, Коучинг<small>Company Inc.</small></h1>
                                    </div>
                                </div>
                                <div class="item testimonial-item">
                                    <div class="icon"><i class="fa fa-quote-right"></i></div>
                                    <blockquote>
                                        <p>Nunc aliquet tincidunt metus, sit amet mattis lectus sodales ac. Suspendisse rhoncus dictum eros, ut egestas eros luctus eget. Nam nibh sem, mattis et feugiat ut, porttitor nec risus.</p>
                                    </blockquote>
                                    <div class="icon-tr"></div>
                                    <div class="testimonial-review">
                                        <img alt="testimoni" src="/img/testimonials/2.png">
                                        <h1>Tom Jobs Коучинг2222<small>Leopard</small></h1>
                                    </div>
                                </div>
                                <div class="item testimonial-item">
                                    <div class="icon"><i class="fa fa-quote-right"></i></div>
                                    <blockquote>
                                        <p>Nunc aliquet tincidunt metus, sit amet mattis lectus sodales ac. Suspendisse rhoncus dictum eros, ut egestas eros luctus eget. Nam nibh sem, mattis et feugiat ut, porttitor nec risus.</p>
                                    </blockquote>
                                    <div class="icon-tr"></div>
                                    <div class="testimonial-review">
                                        <img alt="testimoni" src="/img/testimonials/2.png">
                                        <h1>Tom Jobs Коучинг333<small>Leopard</small></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-buttons">
                                <a data-slide="prev" href="#testimonial-carousel-couching">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                                <a data-slide="next" href="#testimonial-carousel-couching">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox_2 red">
                            <div class="service-icon">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="service-content">
                                <h3>Книги</h3>
                                <p> sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura.</p>
                                <div class="read">
                                    <a href="">Далее</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dividerHeading">
                                <h4><span>Отзывы</span></h4>
                            </div>
                            <div class="testimonial carousel slide" id="testimonial-carousel-books" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active testimonial-item">
                                    <div class="icon"><i class="fa fa-quote-right"></i></div>
                                    <blockquote>
                                        <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum.</p>
                                    </blockquote>
                                    <div class="icon-tr"></div>
                                    <div class="testimonial-review">
                                        <img alt="testimoni" src="/img/testimonials/1.png">
                                        <h1>Tom Jobs, Книги<small>Company Inc.</small></h1>
                                    </div>
                                </div>
                                <div class="item testimonial-item">
                                    <div class="icon"><i class="fa fa-quote-right"></i></div>
                                    <blockquote>
                                        <p>Nunc aliquet tincidunt metus, sit amet mattis lectus sodales ac. Suspendisse rhoncus dictum eros, ut egestas eros luctus eget. Nam nibh sem, mattis et feugiat ut, porttitor nec risus.</p>
                                    </blockquote>
                                    <div class="icon-tr"></div>
                                    <div class="testimonial-review">
                                        <img alt="testimoni" src="/img/testimonials/2.png">
                                        <h1>Tom Jobs Книги2222<small>Leopard</small></h1>
                                    </div>
                                </div>
                                <div class="item testimonial-item">
                                    <div class="icon"><i class="fa fa-quote-right"></i></div>
                                    <blockquote>
                                        <p>Nunc aliquet tincidunt metus, sit amet mattis lectus sodales ac. Suspendisse rhoncus dictum eros, ut egestas eros luctus eget. Nam nibh sem, mattis et feugiat ut, porttitor nec risus.</p>
                                    </blockquote>
                                    <div class="icon-tr"></div>
                                    <div class="testimonial-review">
                                        <img alt="testimoni" src="/img/testimonials/2.png">
                                        <h1>Tom Jobs Книги333<small>Leopard</small></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-buttons">
                                <a data-slide="prev" href="#testimonial-carousel-books">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                                <a data-slide="next" href="#testimonial-carousel-books">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox_2 blue">
                            <div class="service-icon">
                                <i class="fa fa-headphones"></i>
                            </div>
                            <div class="service-content">
                                <h3>Аудио-Тренинги</h3>
                                <p> sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura. sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura.</p>
                                <div class="read">
                                    <a href="">Далее</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dividerHeading">
                                <h4><span>Отзывы</span></h4>
                            </div>
                            <div class="testimonial carousel slide" id="testimonial-carousel-audio" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active testimonial-item">
                                        <div class="icon"><i class="fa fa-quote-right"></i></div>
                                        <blockquote>
                                            <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum.</p>
                                        </blockquote>
                                        <div class="icon-tr"></div>
                                        <div class="testimonial-review">
                                            <img alt="testimoni" src="/img/testimonials/1.png">
                                            <h1>Tom Jobs, Аудио-Тренинги<small>Company Inc.</small></h1>
                                        </div>
                                    </div>
                                    <div class="item testimonial-item">
                                        <div class="icon"><i class="fa fa-quote-right"></i></div>
                                        <blockquote>
                                            <p>Nunc aliquet tincidunt metus, sit amet mattis lectus sodales ac. Suspendisse rhoncus dictum eros, ut egestas eros luctus eget. Nam nibh sem, mattis et feugiat ut, porttitor nec risus.</p>
                                        </blockquote>
                                        <div class="icon-tr"></div>
                                        <div class="testimonial-review">
                                            <img alt="testimoni" src="/img/testimonials/2.png">
                                            <h1>Tom Jobs Аудио-Тренинги 2222<small>Leopard</small></h1>
                                        </div>
                                    </div>
                                    <div class="item testimonial-item">
                                        <div class="icon"><i class="fa fa-quote-right"></i></div>
                                        <blockquote>
                                            <p>Nunc aliquet tincidunt metus, sit amet mattis lectus sodales ac. Suspendisse rhoncus dictum eros, ut egestas eros luctus eget. Nam nibh sem, mattis et feugiat ut, porttitor nec risus.</p>
                                        </blockquote>
                                        <div class="icon-tr"></div>
                                        <div class="testimonial-review">
                                            <img alt="testimoni" src="/img/testimonials/2.png">
                                            <h1>Tom Jobs Аудио-Тренинги 333<small>Leopard</small></h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-buttons">
                                    <a data-slide="prev" href="#testimonial-carousel-audio">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                    <a data-slide="next" href="#testimonial-carousel-audio">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="promo_box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <div class="promo_content">
                            <h3>Electrify is awesome responsive template, with clean design.</h3>
                            <p>Lorem ipsum dolor sit amet, cons adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="pb_action">
                            <a class="btn btn-lg btn-default" href="#fakelink">
                                <i class="fa fa-shopping-cart"></i>
                                Download Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}